.offer{
    min-height: 590px;
    .callme{
        position: relative;
        display: flex;
        justify-content: center;
        #operator {
            width: 137px;
            height: 137px;
            margin-top: 140px;

        }
        .or {
            position: absolute;
            padding: 18px;
            margin-top: 170px;
            height: 50px;
            border:1px solid black;
            background-color:black;
            border-radius:50%;
            color:white;
            text-align: center;
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2.1;
        }
        &__title {
            font-size: 22px;
            font-family: "comfortaa";
            font-weight: 700;
            text-align: center;
            margin: 100px 100px 50px 100px;
            
        }
        .header__phone{
            text-decoration: none;
            font-size: 32px;
            color:rgb(0, 120, 170);
            font-weight: 700;
            font-family: "comfortaa";
        }


    }
    .offer__title {
        display: flex;
        flex-direction: column;
            
    }
    .feed-form_main{
        display: flex;
        border-radius:15px;
        flex-direction: column;
        width: 478px;
        height: 362px;
        margin-top: 40px;
        background-color:white;
        .subtitle   {
            margin: 0 auto;
            padding: 40px 0 20px ;
            font-size: 22px;
            font-weight: 700;
            font-family: "comfortaa";
            
        }
        input {
            background-color: #f4f4f4;
            width: 300px;
            margin: 0 auto;
            height: 42px;
            padding: 0 20px;
            border-radius: 45px;
            margin-bottom: 17px;
            border: 0.89605px solid #d6d4d4;
            border-radius: 45px;
            &::placeholder {
                color: #d6d4d4;
                font-size: 19px;
            }
        }
        button {
            cursor: pointer;
            margin: 0 auto;
            width: 237px;
            height: 40px;
            background:rgb(0, 120, 170);
            border-radius: 45px;
            border: none;
            font-size: 16px;
            font-weight: 400;
            color: #F3FFFE;

        }
        .sub{
            padding: 0 20px;
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
        }

    }    
}